@media (min-width: 992px) { 

body
{ 
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  margin: 0;  
}

/* Header */
header
{
   display: flex;
  justify-content:space-between;
  padding: 20px 40px 0 20px;
  margin: 0 0 0 40px;  
}

nav
{
  display:flex;
  width: 100%;
  justify-content: space-between;
  
}

#link
{
  width:250px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

#logo
{
  height: 60px;
  padding: 20px;
  width: 130px;
}

/* main */

main
{
  margin: 0 45px 0 45px;
}

a:link
{
  text-decoration: none;
  color:black
}

/* presentation*/

#presentation
{
  display: flex;
  flex-direction: column;   
}

#search
{
  display: flex;
  flex-direction: column;
    
}

#h1
{
  margin: 50px 0 0 0;  
}

#bar
{ 
  display: flex;  
}


#search-bar
{  
  border-radius: 10px 0 0 10px; 
  background-color: #f2f2f2;
  height: 40px;
  width: 40px;
  
}
.fa-map-marker-alt
{
  padding: 1px 0 1px 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

#input
{
  height: 34px;
  border-color: #DEEBFF;
}

#submit
{
  background-color: #0065FC;
  border-style: none;
  height: 40px;
  border-radius: 0 10px 10px 0;
  color: white;
  width: 100px;
  font-weight: bold;
  font-size: 16px;
  
}

/* filter */

#filter
{  
  display: flex;
  align-items: center;  
  justify-content: flex-start;
  margin-top: 30px ;  
}

#h2
{
  font-size: 16px;
  margin-right: 20px;
}

.icon
{
  width:100%;
  display: flex;  
}

.filter-container
{
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: #f2f2f2;
  border-radius: 60px;
  margin: 0 10px 0 20px;
  max-width: 250px;
  height: 45px;
}

.icon-style
{
  border-style: solid;
  border-radius: 20px 20px 20px 20px;
  border-color: #f2f2f2;  
  color: #0065FC;
  width: 55px;
  height: 42px;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;  
}

.selection
{
  border-style: none;
  background-color: white;  
  width: 100%;  
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0 10px 0 10px;  
}

/* info */

#info
{
  display: flex;
  flex-direction: row;
  margin-top: 30px ;
}

.fa-info
{
  background-color: none;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 13px 13px 0 0; 
  border-radius: 20px 20px 20px 20px;
  border-style: solid;
  width: 20px;
  height: 20px;
  border-color: #DEEBFF;
  color: #0065FC;
  
}

/* container */

.container
{
  width: 100%;
  display: flex;
  margin-top: 40px ;  
}

#visual
{
  display: flex;
  width: 100%;    
}

#picture
{
  display: flex;  
  flex-direction: column;
  margin-right: 20px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding:30px;
  object-fit: cover;
}

#title
{
  margin: 20px;
}

#first-conteneur
{
  display: flex;
  flex-direction: row; 
}

.hotel
{ 
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  border-radius: 20px;
  border-style: none;
  padding: 8px 8px 8px 8px;
  background-color: white;
  margin: 20px 20px 20px 20px; 
  width: 100%;

}

.picture
{
  border-radius: 20px 20px 0 0 ;
  width: 100%;
       
}

.container-text
{
  background-color: white;
  width: 100%;
}

#second-conteneur
{
  display: flex;
  flex-direction:row;  
}

#popular
{
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
}

.most-popular
{
 margin: 20px 20px 20px 20px;
 }

 #most
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa-chart-line
{
  padding-top: 25px;
}

#section
{
  display: flex;
  flex-direction: column;  
}

.windows
{
  background-color: white;
  margin: 20px 20px 20px 20px;
  border-radius: 20px;
  border-style: none;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
 justify-content: space-around; 
}

.most-picture
{
  width: 100%;
  height:100%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

/* avtivity */

#activity
{
  width:100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
}

#marseille
{
  display: flex;
  flex-direction: row;
}

.picture-container
{
  border-color: #DEEBFF;
  border-radius: 20px;
  border-style: solid;  
  margin: 40px 40px 40px 40px;  
  object-fit: cover;
}

.activity-picture
{
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.pictute-container-two
{
  border-color: #f2f2f2;
  border-radius: 20px;
  border-style: solid;  
  padding: 40px 40px 40px 40px;  
  object-fit: cover;
}

.two-picture
{
  display: flex;
  flex-direction: column;
  border: inherit #f2f2f2;
  border-radius: 20px 20px 20px 20px;
  margin: 40px 40px 40px 40px; 
}

/* footer*/

.footer
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  width: 100%;
  background-color: #f2f2f2;
}

.list
{
  list-style: none;  
}
}

@media (max-width:992px) and (min-width:768px) {
  
}
@media (max-width: 768px) {
  
}