@media (min-width: 992px) { 

body
{ 
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  margin: 0;  
}

/* Header */
header
{
   display: flex;
  justify-content:space-between;
  padding: 20px 40px 0 20px;
  margin: 0 0 0 40px;  
}

nav
{
  display:flex;
  width: 100%;
  justify-content: space-between;  
}

#logo
{
  height: 60px;
  padding: 20px;
  width: 130px;
}

#link
{
  width:250px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
}

.contact
{
padding-right: 60px;
}

/* main */

main
{
  margin: 0 45px 0 45px;
}

a:link
{
  text-decoration: none;
  color:black
}

/* presentation*/

#presentation
{
  display: flex;
  flex-direction: column;   
}

#search
{
  display: flex;
  flex-direction: column;
    
}

#h1
{
  margin: 50px 0 0 0;  
}

#text-presentation
{
  font-size: 18px;
  margin: 10px 0 20px 0;  
}

#bar
{ 
  display: flex;
}

#search-bar
{  
  border-radius: 20px 0 0 20px; 
  background-color: #f2f2f2;
  height: 60px;
  width: 50px;
  
}
.fa-map-marker-alt
{
  padding: 1px 0 1px 0;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 21px;
}

#input
{
  height:56px;
  border-color: #DEEBFF;
  width: 250px;
}

#submit
{
  background-color: #0065FC;
  border-style: none;
  height: 62px;
  border-radius: 0 20px 20px 0;
  color: white;
  width: 150px;
  font-weight: bold;
  font-size: 20px;
  
}

/* filter */

#filter
{  
  display: flex;
  align-items: center;  
  justify-content: flex-start;
  margin-top: 30px ;  
}

#h2
{
  font-size: 21px;
  margin-right: 20px;
}

.icon
{
  width:100%;
  display: flex;  
}

.filter-container
{
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: #f2f2f2;
  border-radius: 60px;
  margin: 0 10px 0 20px;
  max-width: 250px;
  height: 55px;
}

.icon-style
{
  border-style: solid;
  border-radius: 20px 20px 20px 20px;
  border-color: #f2f2f2;  
  color: #0065FC;
  width: 70px;
  height: 50px;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  background-color: #DEEBFF;
  font-size: 25px;
}

.selection
{
  border-style: none;
  background-color: white;  
  width: 100%;  
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  padding: 0 10px 0 10px;  
}

/* info */

#info
{
  display: flex;
  flex-direction: row;
  margin-top: 30px ;
}

.fa-info
{
  background-color: none;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 13px 13px 0 0; 
  border-radius: 20px 20px 20px 20px;
  border-style: solid;
  width: 28px;
  height: 28px;
  border-color: #f2f2f2;
  color: #0065FC;  
}

#text-info
{
  font-size: 19px; 
}
/* container */

.container
{
  width: 100%;
  display: flex;
  margin-top: 40px ;  
}

#visual
{
  display: flex;
  width: 100%;    
}

/* section picture */

#picture
{
  display: flex;  
  flex-direction: column;
  margin: 0 20px 0 0;
  background-color: #f2f2f2;
  border-radius: 40px;
  max-width: 70%;
  
}

#title
{
  margin: 40px 40px 40px 60px;
}

.picture-container
{
  display: flex;   
  flex-wrap: wrap; 
  height: 100%;
  justify-content: space-around;
  margin: 0 40px 0 40px;    
}

.hotel
{ 
  display: flex;
  flex-wrap: wrap;  
  border-radius: 20px;
  border-style: none;
  padding: 6px;
  background-color: white;
  margin-bottom: 30px; 
  width: 30%;         
}

.picture
{
  border-radius: 20px 20px 0 0 ;
  width: 100%;
  object-fit: cover;
  height: 180px;       
}

.container-text
{
  display: flex;
  background-color: white;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
  font-size: 18px;   
}

.container-text h3
{
  font-size: 20px;
  margin: 0;
  flex-wrap: wrap;  
}

.container-text p 
{
  font-size: 18px;
  margin: 10px 0 10px 0;
}

.rate-picture
{
  margin: 0;
}

#more
{
  margin: 0 0  40px 60px;
  padding-top: 20px;
}

#more-link
{
  font-weight: bold;
  font-size: 19px;
}

/* section popular */

#popular
{
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  max-width: 30%;
}

.most-popular
{
 margin: 20px 20px 20px 20px;
 }

 #most
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa-chart-line
{
  padding-top: 25px;
}

#section
{
  display: flex;
  flex-direction: column;  
}

.windows
{
  background-color: white;
  margin: 20px 20px 20px 20px;
  border-radius: 20px;
  border-style: none;
  padding: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70%;
 }

.most-picture
{
  width: 50%;
  height:180px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.text
{
padding: 0 10px 0 30px;
}

.text .rate
{
  padding-top: 50px;
}
/* avtivity */

#activity
{
  width:100%;
  display: flex;
  flex-direction: column;
  margin: 80px 0 40px 0;
}

#activity-title
{
  margin: 0;
}

#marseille
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.activity-container
{
  border-radius: 20px;
  border-style: inset #DEEBFF;  
  margin: 40px 0 40px 0x;   
}

.activity-picture
{
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 90%;
  border-style: none;
}

.activity-container-two
{  
  border-radius: 20px;
  border-style: inherit #f2f2f2;  
  
}

.two-picture
{
  display: flex;
  flex-direction: column;
  border: inset #f2f2f2;
  border-radius: 20px;
     
}

/* footer*/

.footer
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  width: 100%;
  background-color: #f2f2f2;
}

.list
{
  list-style: none;  
}
}

